@page "/Knappsack"
@rendermode InteractiveServer
@using System.ComponentModel.DataAnnotations;
@using System.Linq;


<NavLink href="/">Home</NavLink>
<PageTitle>Knappsack</PageTitle>
<h2>The infamous "Knappsack" problem</h2>
<h4>welcome to NP-hard problems (nondeterministic polynomial time)</h4>

<p>
	OPTIONS:
	<br>
	<InputRadioGroup @bind-Value="show_menu">
		<InputRadio Value="1"/>genetic algorithm<br>
		<InputRadio Value="2"/>travelling salesman<br>
		<InputRadio Value="3"/>items<br>
	</InputRadioGroup>
</p>

@if (@show_menu == 1)
{
	<div>
		<EditForm model="@settings"  OnValidSubmid="processValidSubmit">
			<DataAnnotationsValidator />
				<div>
					<label for="ps">size of population:</label>
					<InputNumber id="ps" @bind-Value="settings.population_size"/>
					<ValidationMessage For="@(()=>settings.population_size)"/>
					<label for="ni">number of iterations:</label>
					<InputNumber id="ni" @bind-Value="settings.number_of_iterations"/>
					<ValidationMessage For="@(()=>settings.number_of_iterations)"/>
					<label for="pm">propability for mutation:</label>
					<InputNumber id="pm" @bind-Value="settings.muation_propability"/>
					<ValidationMessage For="@(()=>settings.muation_propability)"/>
				</div>
		</EditForm>
	</div>
}
else if (@show_menu == 2)
{
	<div>
		<EditForm model="@new_item">
			<DataAnnotationsValidator/>
			<button @onclick="add">ADD ITEM</button>
				<label for="n">NAME:</label>
				<InputText id="n" @bind-Value="new_item.name"/>
				<ValidationMessage For="@(()=>new_item.name)"/>
				<label for="w">WEIGHT:</label>
				<InputNumber id="w" @bind-Value="new_item.weight"/>
				<ValidationMessage For="@(()=>new_item.weight)"/>
				<label for="v">VALUE:</label>
				<InputNumber id="v" @bind-Value="new_item.worth"/>
				<ValidationMessage For="@(()=>new_item.worth)"/>
		</EditForm>
		
	</div>
}
else 
{
<div>
	<EditForm model="@settings_for_items">
		<DataAnnotationsValidator/>
				<label for="c">TOTAL CAPACITY:</label>
				<InputNumber id="c" @bind-Value="settings_for_items.capacity"/>
				<ValidationMessage For="@(()=>settings_for_items.capacity)"/>
	</EditForm>
</div>
}
<div>
	<p>
		TOTAL ITEMS: @all_items.Count()
		<br>
		TOTAL WEIGHT: @get_total_weight() | Picked: @pick_items();
		<br>	TOTAL VALUE: @get_total_value()
	</p>
</div>
<table>
	<thread>
		<tr>
			<th>Name</th>
			<th>Weight</th>
			<th>Value</th>
			<th>Picked</th>
		</tr>
	</thread>
	<tbody>
		@foreach(CItem i in  all_items)
		{
			<tr>
				<td>@i.name</td>
				<td>@i.weight</td>
				<td>@i.worth</td>
				<InputCheckbox @bind-Value=@i.picked></InputCheckbox>
			</tr>
		}
	</tbody>
</table>

@code
{
	public int fitnes_function(Genome g)
	{
		int score = 1;
		return score;
	}
}

@code
{
	[Required(ErrorMessage="you need some capacity")]
	[Range(1,1000,ErrorMessage="you need some capacity")]
	int max_capacity{get;set;}=1; 
	List<CItem> picked_items = new List<CItem>();
	
	int get_total_weight()
	{
		
		int  total_weight = all_items.Where(i => i.picked).Sum(i => i.weight);
		return total_weight;
	}

	int get_total_value()
	{
		int total_value = all_items.Where(i=>i.picked).Sum(i=>i.worth);
		return total_value;
	}

	item_settings settings_for_items = new item_settings(); 

	public int show_menu = 1;
	List<CItem> all_items = new List<CItem>();

	CItem new_item = new CItem();
	void add()
	{
		CItem created_item = new CItem();
		created_item.init(new_item.name, new_item.weight, new_item.worth);
		all_items.Add(created_item);
	}


	ga_settings settings = new ga_settings();
	public class ga_settings
	{
		[Required(ErrorMessage="populationsize is needet")]
		[Range(0,1000,ErrorMessage="Must be from 0 - 1000")]
		public int? population_size {get;set;}
		[Required(ErrorMessage="number of iterations is needet")]
		[Range(0,10000,ErrorMessage="Must be from 0 - 10000")]
		public int? number_of_iterations {get;set;}
		[Required(ErrorMessage="mutationrate is needet")]
		[Range(0,100,ErrorMessage="Must be from 0 - 100")]
		public int? muation_propability {get;set;}
	}
}
